.statistics {
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
.title {
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.714;
  padding: 10px;
}
.list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  margin-bottom: 0;
  padding-bottom: 0;
}
